.padding-5{
	padding:5px;
}
.padding-10{
	padding:10px;
}
.padding-15{
	padding:15px;
}
.padding-20{
	padding:20px;
}
.padding-25{
	padding:25px;
}
.padding-30{
	padding:30px;
}
.padding-35{
	padding:35px;
}
.padding-40{
	padding:40px;
}
.padding-45{
	padding:45px;
}
.padding-50{
	padding:50px;
}

.padding-top-5{
	padding-top:5px;
}
.padding-top-10{
	padding-top:10px;
}
.padding-top-15{
	padding-top:15px;
}
.padding-top-20{
	padding-top:20px;
}
.padding-top-25{
	padding-top:25px;
}
.padding-top-30{
	padding-top:30px;
}
.padding-top-35{
	padding-top:35px;
}
.padding-top-40{
	padding-top:40px;
}
.padding-top-45{
	padding-top:45px;
}
.padding-top-50{
	padding-top:50px;
}

.padding-bottom-5{
	padding-bottom:5px;
}
.padding-bottom-10{
	padding-bottom:10px;
}
.padding-bottom-15{
	padding-bottom:15px;
}
.padding-bottom-20{
	padding-bottom:20px;
}
.padding-bottom-25{
	padding-bottom:25px;
}
.padding-bottom-30{
	padding-bottom:30px;
}
.padding-bottom-35{
	padding-bottom:35px;
}
.padding-bottom-40{
	padding-bottom:40px;
}
.padding-bottom-45{
	padding-bottom:45px;
}
.padding-bottom-50{
	padding-bottom:50px;
}

.padding-left-5{
	padding-left:5px;
}
.padding-left-10{
	padding-left:10px;
}
.padding-left-15{
	padding-left:15px;
}
.padding-left-20{
	padding-left:20px;
}
.padding-left-25{
	padding-left:25px;
}
.padding-left-30{
	padding-left:30px;
}
.padding-left-35{
	padding-left:35px;
}
.padding-left-40{
	padding-left:40px;
}
.padding-left-45{
	padding-left:45px;
}
.padding-left-50{
	padding-left:50px;
}

.padding-right-5{
	padding-right:5px;
}
.padding-right-10{
	padding-right:10px;
}
.padding-right-15{
	padding-right:15px;
}
.padding-right-20{
	padding-right:20px;
}
.padding-right-25{
	padding-right:25px;
}
.padding-right-30{
	padding-right:30px;
}
.padding-right-35{
	padding-right:35px;
}
.padding-right-40{
	padding-right:40px;
}
.padding-right-45{
	padding-right:45px;
}
.padding-right-50{
	padding-right:50px;
}