<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"><span>Cadastro de Categorias</span></h3>
	</div>
	<div class="panel-body">
		<div class="form-group">
		    <label class="control-label">Título</label>
		    <input type="text" class="form-control" placeholder="Título"/>
		</div>
		<div class="form-group">
		    <label class="control-label">opção 2</label>
		    <input type="text" class="form-control" placeholder="opção 2"/>
		</div>
		<div class="form-group">
		    <label class="control-label">opção 3</label>
		    <input type="text" class="form-control" placeholder="opção 3"/>
		</div>
		<div class="form-group">
		    <label class="control-label">opção 4</label>
		    <input type="text" class="form-control" placeholder="opção 4"/>
		</div>
		<button class="btn btn-default" type="submit">Enviar questão</button>
	</div>
</div>