<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"><span>Cadastro de Questões</span></h3>
	</div>
	<div class="panel-body">
		<div class="col-md-6">
			<div class="form-group">
			    <label class="control-label">Categoria</label>
			    <select ng-options="categoria.id as categoria.titulo for categoria in retornos.categorias.itens" ng-model="forms.questao.categoria_id" class="form-control"></select>
			</div>		
			<div class="form-group">
			    <label class="control-label">Título</label>
			    <input ng-model="forms.questao.titulo" type="text" class="form-control" placeholder="Título"/>
			</div>
			<div class="form-group">
			    <label class="control-label">opção 2</label>
			    <input ng-model="forms.questao.opcao_2" type="text" class="form-control" placeholder="opção 2"/>
			</div>
			<div class="form-group">
			    <label class="control-label">opção 3</label>
			    <input ng-model="forms.questao.opcao_3" type="text" class="form-control" placeholder="opção 3"/>
			</div>
			<div class="form-group">
			    <label class="control-label">opção 4</label>
			    <input ng-model="forms.questao.opcao_4" type="text" class="form-control" placeholder="opção 4"/>
			</div>
			<div class="form-group">
			    <label class="control-label">Status</label>
			    <select ng-model="forms.questao.status" class="form-control">
			    	<option value="1">True</option> 
			    	<option value="0">False</option> 
			    </select>
			</div>	
			<button ng-click="enviarQuestao(forms.questao)" class="btn btn-default" type="submit">Enviar questão</button>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label">Json $scope.forms.questao</label>
				<p>{</p>
				<p ng-repeat="(propriedade,valor) in forms.questao">"---propriedade---":"---valor---", </p>
				<p>}</p>
			</div>
		</div>
	</div>
</div>