<!DOCTYPE html>
<html>

<head>

	<title>Elite Jogos</title>
	<meta charset="utf-8">

	<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="./../../css/style.css">

</head>

<body>

	<div class="container">
		<div class="row">
			<div class="col-sm-12 players h2">
				<span>Bem vindo ao Quest!!!</span>
			</div>
			<div class="col-sm-4 partidaHolder">
				<p class="h2 text-center">Partidas!</p>
				<div class="partida">
					partida 01
				</div>
				<div class="partida">
					partida 02
				</div>
				<div class="partida">
					partida 02
				</div>
				<div class="partida">
					partida 02
				</div>
				<div class="partida">
					partida 02
				</div>
				<div class="partida">
					partida 02
				</div>
				<div class="partida">
					partida 02
				</div>
				<div class="partida">
					partida 02
				</div>
				<div class="partida">
					partida 02
				</div>
				<div class="partida">
					partida 02
				</div>
			</div>
			<div class="col-sm-8">
				<p class="h2 text-center">Regras</p>
				<div class="regras">
					<p>Regras:</p>
					<ul>
						<li>Cada jogador terá uma cor atribuída a si aleatoriamente</li>
						<li>Começa a partida aquele que tiver mais vitórias registradas</li>
						<li>Os valores das fichas variam de 1 a 5</li>
						<li>Ao acertar ou errar uma pergunta, a ficha apostada é desabilitada</li>
						<li>Fichas desabilitadas não poderão ser usadas até que todas sejam consumidas</li>
						<li>A dificuldade das perguntas depende da configuração escolhida antes da partida</li>
						<li>Cada pergunta conta com quatro alternativas, sendo uma delas a correta</li>
						<li>O jogador terá 30 segundos para responder</li>
						<li>Caso ultrapasse o tempo limite, ele perde a ficha e se mantém na mesma casa</li>
						<li>A pergunta da última casa pode pertencer à qualquer categoria</li>
						<li>Ela será um nível mais difícil que as outras da partida</li>
						<li>Caso a partida esteja configurada na dificuldade máxima, ela será da mesma dificuldade</li>
						<li>Deve haver um mínimo de 2 jogadores</li>
						<li>O limite de jogadores por partida é 4</li>
					</ul>
					<p>Como jogar:</p>
					<ul>
						<li>O jogador da vez escolhe uma ficha para apostar</li>
						<li>Dependendo da cor da casa, ele deverá responder a uma pergunta aleatória da respectiva categoria</li>
						<li>Em caso de acerto, este anda o número de casas correspondente à ficha apostada</li>
						<li>Em caso de erro, este perde a ficha e permanece na mesma casa</li>
						<li>Ao consumir todas as fichas, o jogador poderá usá-las novamente</li>
						<li>Vence a partida o jogador que chegar na última casa e responder corretamente a última pergunta</li>
					</ul>
					<p>Placar geral:</p>
					<ul>
						<li>Cada vitória será somada ao perfil do jogador</li>
						<li>O número de vitórias define a posição do mesmo</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row footer">
			<div class="col-sm-6 empresa"><img src="./../../assets/Logo Quest.png"></div>
			<div class="col-sm-offset-3 col-sm-3">
				<button class="btn btn-default btn-success">Criar partida</button>
			</div>
		</div>
	</div>	

	<script>
		setTimeout( () => {window.location.reload();}, 3000)
	</script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>

</html>