<!DOCTYPE html>
<html>

<head>

	<title>Elite Jogos</title>
	<meta charset="utf-8">

	<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="./../../css/style.css">

</head>

<body>

	<div class="container">
		<div class="row">
			<div class="col-sm-12 logo">
				<img src="./../../assets/Logo Quest.png">
			</div>
		</div>
	</div>
	<div class="container barraLateral">
		<div class="row">
			<div class="col-sm-3">
				<div class="sidebar-nav">
					<div class="navbar navbar-default" role="navigation">
						<ul class="crud">
							<ul> 
							Temas
								<li class="btn" data-toggle="modal" data-target="#cadastrarTema">Cadastro de Temas</li>
								<li class="btn" data-toggle="modal" data-target="#editarTema">Edição de Temas</li>
								<li class="btn" data-toggle="modal" data-target="#pesquisarTema">Pesquisar Temas</li>
								<li class="btn" data-toggle="modal" data-target="#excluirTema">Exclusão de Temas</li>
							Perguntas
								<li class="btn" data-toggle="modal" data-target="#cadastrarPergunta">Cadastro de Perguntas</li>
								<li class="btn" data-toggle="modal" data-target="#editarPergunta">Alteração de Perguntas</li>
								<li class="btn" data-toggle="modal" data-target="#pesquisarPergunta">Pesquisar Perguntas</li>
								<li class="btn" data-toggle="modal" data-target="#excluirPergunta">Exclusão de Perguntas</li>
							</ul>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Modais -->
	<div id="cadastrarTema" class="modal fade" role="dialog">
		<div class="modal-dialog">
		<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title text-center">Cadastro de Temas</h4>
				</div>
				<form action="/categorias/create" method="post">
					<div class="modal-body">
					Tema:
					<input class="btn inputCss" type="text" name="nome" placeholder="Digite um tema">
					</div>
					<div class="modal-footer botoes">
						<button type="button" class="btn btn-info" data-search="modal">Pesquisar</button>
						<button type="submit" class="btn btn-success" data-save="modal">Salvar</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div id="editarTema" class="modal fade" role="dialog">
		<div class="modal-dialog">
		<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title text-center">Edição de Temas</h4>
				</div>
				<div class="modal-body">
					<!--
					for contendo todos os temas para que possam ser
					editados individualmente
					-->
				</div>
				<div class="modal-footer botoes">
					<button type="button" class="btn btn-success pull-right" data-save="modal">Salvar</button>
				</div>
			</div>
		</div>
	</div>

	<div id="pesquisarTema" class="modal fade" role="dialog">
		<div class="modal-dialog">
		<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title text-center">Pesquisa de Temas</h4>
				</div>
				<div class="modal-body">
					<!--
					for contendo todos os temas para listagem
					-->
				</div>
				<div class="modal-footer botoes">
					<button type="button" class="btn btn-info" data-search="modal">Pesquisar</button>
				</div>
			</div>
		</div>
	</div>

	<div id="excluirTema" class="modal fade" role="dialog">
		<div class="modal-dialog">
		<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title text-center">Exclusão de Temas</h4>
				</div>
				<div class="modal-body">
					<!--
					for contendo todos os temas para que possam ser
					excluidos individualmente
					-->
				</div>
				<div class="modal-footer botoes">
					<button type="button" class="btn btn-success pull-right" data-save="modal">Salvar</button>
				</div>
			</div>
		</div>
	</div>

	<div id="cadastrarPergunta" class="modal fade" role="dialog">
		<div class="modal-dialog">

		<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title text-center">Cadastro de Perguntas</h4>
				</div>
				<form action="/questoes/create" method="post">
					<div class="col-sm-6">
						<div class="modal-body">
							<p>Pergunta:</p>
							<textarea rows="5" cols="30" class="form-control inputCss" name="pergunta"></textarea>
							<br/>
							<p>Tema:</p>
							<select class="btn btn-sm inputCss" name="tema">
								<!-- iterate with a for to display all themes
									<option value=""></option>
								 -->
								<option value="teste">Teste</option>
							</select><br/><br/>
							<p>Grau de Dificuldade:</p>
							<div class="col-sm-12"><input type="radio" name="dificuldade">Fácil</div><br/><br/>
							<div class="col-sm-12"><input type="radio" name="dificuldade">Médio</div><br/><br/>
							<div class="col-sm-12"><input type="radio" name="dificuldade">Difícil</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="modal-body"><p>Respostas:</p>
							<p>A)<input type="text" class="btn btn-sm inputCss" name="a"></p>
							<p>B)<input type="text" class="btn btn-sm inputCss" name="b"></p>
							<p>C)<input type="text" class="btn btn-sm inputCss" name="c"></p>
							<p>D)<input type="text" class="btn btn-sm inputCss" name="d"></p>

							<p>Resposta Certa:</p>
							<div class="col-sm-3"><input type="radio" name="respostaCerta">A</div>
							<div class="col-sm-3"><input type="radio" name="respostaCerta">B</div>
							<div class="col-sm-3"><input type="radio" name="respostaCerta">C</div>
							<div class="col-sm-3"><input type="radio" name="respostaCerta">D</div>
						</div>
					</div>
					
					<div class="modal-footer botoes">
						<button type="button" class="btn btn-info" data-search="modal">Pesquisar</button>
						<button type="submit" class="btn btn-success" data-save="modal">Salvar</button>
					</div>
				</form>
			</div>

		</div>
	</div>

	<div id="editarPergunta" class="modal fade" role="dialog">
		<div class="modal-dialog">
		<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title text-center">Edição de Perguntas</h4>
				</div>
				<div class="modal-body">
					Pergunta:
					<input class="btn inputCss" type="text" name="tema" placeholder="Digite uma pergunta">
					<!--
					criar div com a pergunta para que possa ser
					editada
					-->
				</div>
				<div class="modal-footer botoes">
					<button type="button" class="btn btn-info" data-search="modal">Pesquisar</button>
					<button type="button" class="btn btn-success" data-save="modal">Salvar</button>
				</div>
			</div>
		</div>
	</div>

	<div id="pesquisarPergunta" class="modal fade" role="dialog">
		<div class="modal-dialog">
		<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title text-center">Pesquisa de Perguntas</h4>
				</div>
				<div class="modal-body">
					Pergunta:
					<input class="btn inputCss" type="text" name="tema" placeholder="Digite uma pergunta">
					<!--
					criar div com a pergunta para que possa ser
					consultada. Essa div deve mostrar as alternativas tbm
					-->
				</div>
				<div class="modal-footer botoes">
					<button type="button" class="btn btn-info" data-search="modal">Pesquisar</button>
					<button type="button" class="btn btn-success" data-save="modal">Salvar</button>
				</div>
			</div>
		</div>
	</div>

	<div id="excluirPergunta" class="modal fade" role="dialog">
		<div class="modal-dialog">
		<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title text-center">Exclusão de Perguntas</h4>
				</div>
				<div class="modal-body">
					Tema:
					<input class="btn inputCss" type="text" name="tema" placeholder="Digite uma pergunta">
					<!--
					criar div com a pergunta para que possa ser
					excluida. Solicitar confirmacao da exclusao
					-->
				</div>
				<div class="modal-footer botoes">
					<button type="button" class="btn btn-info" data-search="modal">Pesquisar</button>
					<button type="button" class="btn btn-success" data-save="modal">Salvar</button>
				</div>
			</div>
		</div>
	</div>


	<div class="container">
		<div class="row footer">
			<div class="col-sm-6 empresa">ELITE JOGOS</div>
		</div>
	</div>	


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>

</html>